<h1> Title: {{ book.title }} </h1>

<p>Author
    <a href={{ book.author.url }}> {{ book.author.name }} </a>
</p>
<p>
    Summary:
    {{ book.summary }}
</p>
<p>
    ISBN:
    {{ book.isbn }}
</p>
<p>
    Genre:
        {{#each book.genre}}
            <a href={{ this.url }}> {{ this.name }} </a>
        {{/each}}
</p>

<h4>Copies</h4>

{{#each book_instances}}
    <hr>
    <p> {{ this.status }} </p>
    <p> {{ this.imprint }} </p>
    <p> Due back: {{ this.due_back_formatted }} </p>
    <p> ID: <a href={{ this.url }}>{{ this.id }}</a> </p>
{{/each}}